.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  position: absolute;
  top: 30%;
  left: 50%;
  bottom: 30%;
  transform: translate(-30%, -50%);
  align-self: center;
  font-size: 72px;
  
}

.discover {
  height: 500px;
  width: 100%;
  background-color: blue;
  text-align: center;
}
/* 
.discover h1 {
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
} */

h1:nth-child(1) {
  float: left;
  margin-left: 50px;
}

.discover-images {
  display: inline-block;
  width: 180px;
  height: 250px;
  overflow: hidden;
  padding: 65px;
  position: relative;
}

.discover-images img {
  width: 110%;
  height: 90%;
  filter: brightness(75%);
  border-radius: 35px;
}

.discover-images h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 140px;
  left: 10px;
}

.discover h1 {
  color: white;
}


#topImage {
  position: relative;
  text-align: center;
  height: 50%;
  margin: 0px 0px 0px 0px;
}

#topImg {
  filter: brightness(50%);
  width: 100%;
  height: 600px;
}

#searchbar {
  width: 50%;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  font-size: 24px;
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -55%);
}
nav{
  position: absolute;
  width: 100%;
  z-index: 9999;    
  right:0;  
}

nav ul{
  list-style-type: none;
  padding-right: 30px;
}

nav li {
  display: inline;
  text-decoration: none;
  float: right;
  padding: 20px 24px;
}

nav li a{
  text-decoration: none;
  color: white;
}
.description {
  display: flex;  
  text-align: left;
}
.textbox{
  display: flex;
  justify-content: space-between;
}

.map {
  text-align: center;
  padding: 30px;
  width: 60%;
  /* height: 900px; */
}
.pin {
  font-size: 5em;
}
.description-text {
  width: 40%;
  padding: 10px 20px;
}
.description-text, .map{
  flex: 1;
}
.map img{  
  width: 100%;
  /* height: 500px; */
}
.description-text p {
  display: block;
}
.description-text button{
  background-color: #83cb7b;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  width: 90%;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: bold;
  display: table-cell;
  align-items: center;
}

.right, .description-text a {
  color: #3b61dd;
  text-decoration: none;
}

.question {
  color: #dee6f9;
  text-align: center;
}

.description-text h2{    
}

.review1{
  background-color: #dee6f9;
  padding: 10px 20px;
  border-radius: 30px;
}