@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.discover {
  background-color: #385FDC;
  padding: 50px;
}

.discover h1 {
  float: left;
  margin-top: 30px;
  color: white;
  font-size: 2.7em;
}

.discover-cols {
  height: 425px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 150px;
}

.discover-images-1 {
  position: relative;
}

.discover-images-2 {
  position: relative;
}

.discover-images-3 {
  position: relative;
}

.discover-images-4 {
  position: relative;
}

.discover-cols img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  filter: brightness(60%) blur(1px);
  border-radius: 35px;
  margin-top: 10px;
}

.discover-cols h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150px;
  font-size: 2em;
  color: white;
}

.read-stories h1 {
  color: #385FDC;
  float: left;
  margin-left: 50px;
  margin-top: 80px;
  font-size: 2.7em;
}

.bus-cols {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 25px;
}

.bus-cols img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 50px;
  position: relative;
}

.bus-cols h2 {
  color: #385FDC;
}

.bus-cols p {
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
}

.read-stories a {
  width: 100%;
  height: 100%;
}

.read-more-col {
  height: 250px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.read-more-hands {
  position: relative;
}

.read-more-col img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: -35px;
}

.read-more-col h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90px;
  color: #385FDC;
  border: 5px solid #385FDC;
  border-radius: 25px;
  padding: 25px;
}

.info {
  background-color: #385FDC;
  height: 300px;
  width: 100%;
}

.info h1 {
  color: white;
  font-size: 25px;
  top: 80px;
  margin-top: 20px;
  position: relative;
}
#footer-icons {
  font-size: 2em;    
}
.footer-icon {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.contact{
  font-weight: 500;
}

#header {
  background-image: url("images/headerImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  height: 90vh;    
}
.header-content {
  text-align: center;
  display: flex;
  align-items: center;      
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.header-content img {
  width: 35%;
}
.header-tags {
  display: flex;
  flex-direction: row;
}
.header-tag {
  background-color: #f1f5ff;
  color: #385FDC;
  margin: 0 2em;
  border-radius: 1em;
  padding: 0.5em 1em 0 1em;
  width: 130px;
  text-decoration: none;
}
.header-tag h3 {
  margin-top: 0;
  font-size: 0.75em;
}
.input-group {  
}
#searchbar {
  font-family: 'FontAwesome', 'Poppins';  
  font-size: 1.25em;  
  height: 35px;
  width: 60%;
  text-align: center;
  border-radius: 50px;  
  padding: 0.25em 0.5em;
  margin-top: 2em;  
  border: none;
}
#searchbar::placeholder{
  color: #a5b4e4;
}

nav{
  position: absolute;
  width: 100%;
  z-index: 9999;    
  right: 0;    
  display: flex;
  justify-content: space-between;
}
nav.dark{
  position: relative;
}
nav.dark a{
  color: #385FDC;
  border-style: none;
}

.logo {
  width: 14%;  
  position: absolute;
  margin-right: 500px;
}

nav ul{
  list-style-type: none;
  padding-right: 30px;
  margin: 0;    
}

nav li {
  /* display: inline; */
  text-decoration: none;
  float: right;
  padding: 35px 24px;
}

nav li a{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

nav #myAccount {
  width: 120px;
  height: 30px;
  border-radius: 0 0 25px 25px;
  background-color: #385FDC;
}

nav #myAccountSelect {
  color: white;
  background-color: #385FDC;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
}

nav.dark #myAccount a{
  color: white;
}

/* .active {
  width: 80px;
  padding-top: 29px;
  border-top: 6px solid;
  border-top-color: #385FDC;
} */

.description {
  display: flex;  
  text-align: left;
  padding: 2.5em 2.5em 0 2.5em;
}

.description p{
  font-size: 1.2em;
}
.textbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map {
  text-align: center;
  padding: 30px;  
  flex: 1;  
}
.pin {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
  text-align: center;
  color: #385FDC;  
  font-weight: bold;
  padding: 4px;  
}

.pin-icon{
  font-size: 6em;
}
.pin-text{
  font-size: 2em;
}

.description-text {  
  padding: 10px 20px;
  flex: 1.1;
}
  
.description-text button{
  background-color: #83cb7b;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  width: 90%;
  padding: 10px 28px;
  font-size: 20px;
  font-weight: bold;
  display: table-cell;
  align-items: center;
}
.right {
  font-size: 2em;
}

.textbox h2{
  font-size: 2em;
}
.center-text {
  vertical-align: middle;
}
.icon{
  padding: 0 7px;
}

.right, .name, .thumbsUp {
  color: #263EE7;  
  text-decoration: none;
}

.icon-text {
  display: flex;
  align-items: center;
}
.icon-text .action{
  font-size: 1.9em;
  flex: 1;
}
.icon-text p {
  flex: 9;  
}
.icon-text ul {
  flex: 3.5;
}
.review1{
  background-color: #dee6f9;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.review1 .thumbsUp {
  flex: 1;
}
.review1 div{
  flex: 9;
}
.story-header {
  padding: 0em 6em;
  font-size: 4em;
}

.business {  
  background-color: #dee6f9;
  padding: 4em;
}

.business-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.business-text {
  flex: 1;
}
.business .yogaImg {
  flex: 2;
}
.yogaImg img{
  width: 90%;
  border-radius: 2em;   
}

.business h2 {
  color: #385FDC;
  font-size: 2em;
  margin-bottom: 0;
}
.business h3 {
  color: #6e6767;
  margin-top: 0.5em;
}
.business p{
  line-height: 1.5;
  text-align: left;
  margin-top: 2em;
  text-indent: 2em;
}
.business button {
  background-color: #dee6f9;
  color: #385FDC;
  border: 3px solid #385FDC;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 1.25em;
  align-self: center;  
  font-weight: bold;    
}
.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.circle {
  background: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;  
  margin-left: 0.75em;
  display: block;
}

.circleCreateAcct {
  background: #dee6f9;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 0.75em;
  margin-right: 0.75em;
  column-gap: 2em;
  display: block;
}

.blueCircle{
  background: #385FDC;
}

#blank1 {
  opacity: .2;
}

#blank2 {
  opacity: .4;
}

#blank3 {
  opacity: .6;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 0;
  margin: 0 auto;
  width: 90vw;
}

.gridElement {
  width: 30vw;
  height: 30vw;
  position: relative;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridImgDescription {
  padding: 1em;
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  position: absolute;  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000080;
  color: white;
  visibility: hidden;
  opacity: 0;  
  transition: opacity .2s, visibility .2s;
}

.gridImgDescription h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.imgTextWrapper {    
    max-width: 20vh;    
}

.gridImgDescription p {
  margin-top: 1.5em;    
}

.gridElement:hover .gridImgDescription {
  visibility: visible;
  opacity: 1;
}

#stories-search {
  color: #385FDC;
  text-align: center;
  font-size: 2.7em;
  top: 50;
}

#searchbar2 {
  background-color: #dee6f9;
  color: #a5b4e4;
  font-family: "FontAwesome", 'Poppins', sans-serif;  
  width: 85%;
  top: 50%;
  border-radius: 50px;
  border: none;
  font-size: 1.25em;
  padding: 0.75em 1.25em;
  margin-top: 1em;
  margin-bottom: 3em;
}
#searchbar2::placeholder{
  color: #a5b4e4;
}

.createAccountHeader h1 {
  font-size: 4em;
}

.createAccountHeader p {
  text-align: left;
  margin-left: 21vw;
}

.createNextButton {
  margin-top: 50px;
}

.verifyEmailButton {
  margin-top: 50px;
}

.verifyEmailButton button {
  width: 180px;
  height: 40px;
  color: white;
  outline: none;
  background-color: #385FDC;
  border-radius: 10px;
  cursor: pointer;
}

.step3NextButtons {
  display: inline-block;
  margin-top: 50px;
}

.step3NextButtons #letsGoStep3 {
  width: 180px;
  height: 40px;
  color: white;
  outline: none;
  background-color: #385FDC;
  border-radius: 10px;
  cursor: pointer;
}

.step3NextButtons #skipStep3 {
  width: 180px;
  height: 40px;
  color: #385FDC;
  font-weight: 600;
  border-style: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.createNextButton button {
  width: 180px;
  height: 40px;
  color: white;
  outline: none;
  background-color: #385FDC;
  border-radius: 10px;
  cursor: pointer;
}

.userTypeGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 60vw;
  height: 13vw;
  column-gap: 5vw;
}

.userPreferencesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  width: 60vw;
  column-gap: 4.5vw;
}

.prefCol {
  border-style: solid;
  text-align: center;
  position: relative;
  border-radius: 20px;
  border-color: #385FDC;
  border-width: 5px;
}

.prefCol span {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 50%;
  margin-left: -50%;
}

.userPrefSubGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1vw;
}

.prefRow {
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  border-color: #385FDC;
  border-width: 5px;
}

#invisibleColumn {
  border: none;
}

.prefCol img {
  width: 10vw;
  height: 10vw;
}

.userPreferencesGrid p {
  font-size: 1.25em;
  color: #385FDC;
  font-weight: 600;
}

.userCol img {
  width: 12vw;
  height: 8vw;
  margin-bottom: 2vw;
  margin-top: 1vw;
}

.step1Invalid p {
  font-style: italic;
  color: red;
}

.userCol {
  border-style: solid;
  border-radius: 20px;
  border-color: #385FDC;
  border-width: 5px;
  position: relative;
}

.userInfoBody{
  display: flex;  
  padding: 1.5em;
}

#userTypePreferenceHighlighted {
  background-color: #dee6f9;
}

.userCol p {
  position: absolute;
  font-size: 1.25em;
  color: #385FDC;
  text-align: center;
  bottom: -1vw;
  left: 0;
  right: 0;
  font-weight: 600;
}

.loginBody{
  display: flex;  
  padding: 1.5em;
}

.loginHeader h1{
  font-size: 4em;
  margin-bottom: 0;
}
.loginHeader p {
  font-size: 1.25em;
  margin-top: 0;
}
.loginBody input[type=text], input[type=password] {
  width: 40%;
  padding: 1em 2em;
  border-radius: 15px;
  border: none;
  margin-bottom: 2em;
  background-color: #f1f5ff;
}

#invalidInput {
  border-color: #385FDC;
  border-style: solid;
}

.inputGroup p {
  font-style: italic;
  color: #385FDC;
  margin-top: -1em;
}

.loginBody form{
  flex: 1;      
  justify-content: center;

}
.loginbody .inputGroup{
  margin-top: 2em;
  
}
.checkboxGroup {
  display: inline;
}

.loginBody div input, .socialLogin button  {
  display: block;
  margin-right: auto;
  margin-left: auto;

}
.socialLogin{
  flex: 1;
  border-left: thick solid #385FDC;
}
.loginBtn, .reviewBtn{
  background-color: #385FDC;
  /* color: rgb(148, 139, 139); */
  color: white;
  width: 25%;
  padding: 0.5em 1em;
  border-radius: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}
.smallText {
  text-decoration: none;
  font-size: 0.8em;
}

.termsAgreement {
  margin-top: 3vw;
  margin-bottom: 1vw;
}

.loginBody form input[type=checkbox] {  
  height: 20px;
  width: 20px;
}

.socialLogin button {
  width: 55%;
  margin-top: 2em;
  padding: 0.5em 1em;  
  border-radius: 10px;
  font-size: 1em;
}
.facebook {
  background-color: #3b5a97;
  color: white;
  border: none;
}
.google {
  background-color: white;
  border-color: #3b5a97;
  border-width: 0.2em;
}

.blue {
  color: #385FDC;
}

.whatsBizi {
  display: flex;
  align-items: center;
}

.whatsBizi div {
  flex: 1.5;  
  text-align: left;
  padding: 1em;
}

.whatsBizi div h1 {
  font-size: 3em;
}

.whatsBizi div p {
  font-size: 1.7em;
}

#bigLogo {
  width: 30%;
  padding: 2em;
  flex: 1;
}

.contact-footer {
  font-weight: 500;
}

.contact {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0em 4em;
}

.contact div {
  flex: 1;  
}

.contact div input {  
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  margin-bottom: 1em;  
  background-color: #f1f5ff;
  font-size: 1.25em;    
}
.contact div input::placeholder, .contactMsg::placeholder {
  color: #a5b4e4;
}

.contact p {
  font-size: 1.5em;
  font-weight: 600;
}
.contactName {
  width: 30%;  
  margin-right: 1em;
}
.contactEmail {    
  width: 54%;    
}

.contact span {
  flex: 1;
  display: flex;
  justify-content: center;  
}

#contactImg {
  width: 60%;     
}

.contactMsg, .reviewText {
  display: block;
  resize: none;
  outline: none;
  background-color: #f1f5ff;
  border: none;
  border-radius: 15px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 1em;
  font-size: 1.25em;
}

.contactBtn {
  background-color: #385FDC;
  color: white;
  width: 35%;
  padding: 0.5em 1em;
  border-radius: 10px;
  display: block;  
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.contact-icon {
  font-size: 3em;
  color: #385FDC;
}

.contact-icon:not(:first-child){
  margin-left: 0.5em;
}

.contactFooter {
  display: flex;
  align-items: center;      
}
.contactFooter h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #385FDC;
}

.contactHeader {
  font-size: 3.5em;
  color: #385FDC;
  margin-bottom: 0;
}

.accountHeader {
  font-size: 3.5em;
}
.discounts-wrapper, .bookmark-wrapper {
  padding: 0 8em;  
}
.discounts {
  display: flex;  
}

.discount-info {
  flex: 2;
  border: 0.5em dashed #385FDC;  
  border-radius: 3.5em;
  margin-right: 3em;
  padding: 2em;
}

.QR {
  flex: 1;
  border: 0.5em solid #385FDC;  
  border-radius: 3.5em;  
}
.QR img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.account h3 {
  color: #385FDC;
  text-align: left;  
  font-size: 1.5em;
  display: flex;
  align-items: center;  
}

.account button {
  width: 180px;
  height: 40px;
  color: white;
  outline: none;
  background-color: #385FDC;
  border-radius: 10px;
  cursor: pointer;
}

.bookmark-selects, .search-selects {
  display: flex;
  justify-content: space-between;
}

.bookmark-selects select, .search-selects select {
  background-color: #385FDC;
  color: white;
  border: none;
  font-size: 1em;
  border-radius: 0.5em; 
  text-align: center;
  padding: 0.5em 0.7em;
  width: 110px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
  background: url("images/whiteArrowIcon.ico") #385FDC no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("images/whiteArrowIcon.ico") #385FDC no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */  
}
.accountIcon {
  margin-right: 0.25em;
}
.bookmarks {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
.bookmarks div {
  background-color: #385FDC;
  color: white;
  padding: 1em;
  border-radius: 1em;  
  width: 25%;
}
.bookmarkIcon {
  width: 20%;
}

.SearchItem {
  background-color: #f1f5ff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SearchItemHeader {
  display: flex;
  align-items: center;    
}
.SearchItemHeader h2 {
  color: black;
}

.searchEnvironment {
  width: 11%;  
}
.searchHeart {
  width: 9%;
}

.OpenNow {
  border: 0.2em solid #56dd48;  
  color: #83cb7b;
  font-weight: bold;
  width: 110px;
  border-radius: 0.75em;
  text-align: center;    
  margin-right: 0.75em;
}

.OpenNow p, .price p {
  margin: 0.25em 0;
  font-size: 0.9em;
}

.price {
  border: 0.2em solid #385FDC;  
  color: #385FDC;
  font-weight: bold;
  width: 30px;
  border-radius: 0.75em;
  text-align: center;  
}
.SearchItemTags {
  display: flex;
}

.SearchItemImg {
  width: 30%;
}
.SearchItemsList .SearchItem:nth-child(even){
  background-color: white;
}
.search-selects select {
  margin-bottom: 2em;
}
.searchHeader {
  color: #385FDC;
  font-size: 3.5em;
}

.search #searchbar2 {  
 margin: 0;
 text-align: center;
 background-color: #f1f5ff;
}
#searchbar2::placeholder{
  color: #a5b4e4;  
}

.recs {
  background-color: #385FDC;
  padding: 1.5em 4em;  
}
.recs h1 {
  color: white;
  text-align: left;
}

.recItems {
  display: flex;
  justify-content: space-between;
}
.recItem img {
  width: 15%;
  margin: 0 0.25em;    
}

.recImgs {
  display: block;
}

.recItems .recItem {
  padding: 1em;
  border-radius: 1em;  
  width: 20%;  
  height: 30vh;
  text-align: center;
  background-image: url("images/pexels-ksenia-chernaya-3965557.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;    
  display: flex;
  justify-content: center;
  flex-direction: column; 
  margin-bottom: 2.5em;
}

.recItems div h1 {
  text-align: center;
  margin-bottom: 0.25em;  
}

.business-header {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.business-header * {
  display: inline;
}
.back-icon {
  color: #385FDC;
  font-size: 2.5em;
}
.a-box {
  background-color: #83cb7b;
  color: white;  
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 2.5em;
  font-size: 1.75em;
  height: 45px;
  margin-left: 0.75em;
}
.a-box h4 {
  margin-left: 0.15em;
}
.business-header h2, .question {
  margin-left: 0.5em;
}
.question, .action {
  color: #dee6f9;  
}
.question, .business-header-icons {
  font-size: 2.25em;
}
.business-header-icons {
  color: #385FDC;
  font-weight: bold;  
}
.description-text a {
  color: #385FDC;
  font-weight: bold;
  text-decoration: none;
}
.business-gallery {
  height: 50%;
}
.business-photo {  
  white-space: nowrap;    
}
.business-row {
  display: flex;
}
.business-row img {
  flex: 1;
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin: 0.5em 0.5em;
}
.add-review-header {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.review-icon {
  margin-right: 0.4em;
}
.review-wrapper {
  display: flex;
  align-items: center;
  padding: 1em;  
}
.review-upload {  
  background-color: #dee6f9;
  color: #385FDC;
  width: 175px;
  height: 175px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-right: 2em;         
}
.reviewText {
  background-color: #dee6f9;
  color: #385FDC;  
  padding: 2em 3em;
}
.reviewText::placeholder {
  color: #385FDC;
}
.review-upload h3 {
  margin: 0;
}
.review-add-icon {
  font-size: 5em;
}
.review-description {
  flex: 2;
}
.reviewBtn {
  margin: 2em 0;
  width: 15%;
}
.add-review-wrapper {
  padding-left: 5em;
  padding-right: 2.5em;
}