@media only screen and (max-width: 768px) {

    /* This handles of all of the formating to a menu view */
    .toggle-button{
        position: absolute;
        top: 2rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: #385FDC;
        border-radius: 10px;
    }   

    .nav-bar-links{
        display: flex;
    }

    .ul{
        padding: 0;
    }

    .nav-bar-links{
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 55px;
    }

    nav .dropdown, nav .login-nav {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 55px;
    }

    nav{
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: 15%;
        background-color:#F1F5FF;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
        padding-left:5px;
        padding-right:5px;
        padding-top: 80px;
    }

    nav li{
        padding: 10px;
    }

    nav li a{
        color: #385FDC;
        padding: 10px;
    }


    /* this will be for the header */
    #header{
        width: 100%;
        left: 0px;
        top: 0px;

        background: white;

        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
        
    }

    .logo {
        position: absolute;
        width: 30%;
        margin-right: 0px;
        display: flex;
    }

    .header-content{
        position: relative;
        height: auto;
    }

    .header-content h3{
        display: none;
    }

    #yellow-heading-word {
        color: #385FDC;
    }

    .tag-line{
        width: 100%;
        background-color: #CDD8FC;
    }

    .whatsBizi{
        padding-top: 150px;
        z-index: -1;
        position: relative;
        background-color: #CDD8FC;
        bottom: 150px;
    }

    .p2{
        display: none;
    }

    .whatsBizi div h1 {
        color: #385FDC;
    }

    .whatsBizi div p {
        color: #385FDC;
    }


    .header-tags{
        display: flex;
        padding-top: 15%;
    }

    .header-tag{
        padding: 0;
        margin:0;

    }

    fieldset{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    fieldset button{
        border-radius: 5em 5em 5em 5em;
        cursor: pointer;
        width: 25%;
        background-color: #6B6BF7;
        
    }

    fieldset input{
        background-color: #F1F5FF;
        
    }

    #searchbar{
        flex: none;
        border-radius: 5em 5em 5em 5em;
        width: 80vw;
        margin-bottom: 50px;
    }




    

    
}