@media only screen and (max-width: 768px) {

    /* This handles of all of the formating to a menu view */
    .toggle-button{
        position: absolute;
        top: 2rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: #385FDC;
        border-radius: 10px;
    }
    
    .toggle-button{
        position: absolute;
        z-index: 2;
    }

    .nav-bar-links{
        display: flex;
    }

    .ul{
        padding: 0;
    }

    .nav-bar-links{
        z-index: 1;
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 55px;
    }

    nav .dropdown, nav .login-nav {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 55px;
    }

    nav{
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: 15%;
        background-color:#F1F5FF;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
        padding-left:5px;
        padding-right:5px;
        padding-top: 80px;
    }

    nav li{
        padding: 10px;
    }

    #search{
        display: none;
    }

    nav li a{
        color: #385FDC;
        padding: 10px;
    }


    /* this will be for the header */
    #header{
        width: 100%;
        left: 0px;
        top: 0px;

        background: white;


        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;

        height: 100%;
        
    }

    #background{
        height: 100%;
        background-color: #CDD8FC;
    }

    .logo {
        position: relative;
        z-index: 3;
        width: 30%;
        margin: auto;
        display: block;
        
    }

    .header-content{
        position: relative;
        height: auto;
    }

    .tag-line h3{
        display: none;
    }

    #yellow-heading-word {
        color: #385FDC;
    }

    .tag-line{
        width: 100%;
        background-color: #CDD8FC;
    }

    .whatsBizi{
        position: relative;
        background-color: #CDD8FC;
        height: 100%;
    }

    .whatsBizi div{
        padding-top: 10px;
    }

    .p2{
        display: none;
    }

    .whatsBizi div h1 {
        color: #385FDC;
    }

    .whatsBizi div p {
        color: #385FDC;
    }


    .header-tags{
        display: flex;
        flex-wrap: wrap;
        padding-top: 5%;
        padding-bottom: 10%;
        justify-content: center;
    }

    .header-tag{
        padding: 0;
        margin:0;

        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;

    }

    fieldset{
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    fieldset button{
        border-radius: 5em 5em 5em 5em;
        cursor: pointer;
        width: auto;
        background-color: #6B6BF7;
        
    }

    fieldset input{
        background-color: #F1F5FF;
        
    }

    #searchbar{
        flex: none;
        border-radius: 5em 5em 5em 5em;
        width: 80vw;
        margin-bottom: 50px;
    }

    #searchbar-nav{
        display: flex;
        flex: none;
        border-radius: 5em 5em 5em 5em;
        width: 80vw;
    }

    #searchbar-nav::placeholder{
        color: #a5b4e4;
      }


    /* read stories */
    .read-stories{
        position: relative;
        /* bottom: 150px; */
        background-color: #F1F5FF;
        position: relative;
    }

    .read-more-col{
        /* height: 100%; */
        margin: 0;
    }

    .read-more-col h2{
        color: white;
        background-color: #6B6BF7;
        border: #6B6BF7;
        
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;

        font-weight: normal;
        width: auto;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;

    }

    .read-more-col a{
        height: 10%;
        position: relative;
    }

    .read-more-col img{
        display: none;
    }

    .bus-cols{
        margin: 0;
    }

    .bus-cols p {

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
      }

      .bus-cols img {
        float: left;
        height: 500px;
        object-fit: cover;
        border-radius: 10%;
        position: relative;
        margin-bottom: 50px;
      }



      .carousel-root{
          max-width: 80%;
      }

      .read-stories h1{
          margin-left: 0;
      }

      .read-stories{
        width: 100%;
        background-color: #F1F5FF;
      }

      .read-more-col {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }


    /* footer */
    .info{
        position: relative;
        background-color: #CDD8FC;
    }

    .info h1{
        color: #385FDC;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
    }


    /* login (returning users) */

        .toCreate a {
            color: #575e61;
            text-decoration: none;
            font-weight: 600;
        }

        .toCreate a:active{
            color: #385FDC
        }

      .login {
          background-color: #F1F5FF;
          border-radius: 100px 100px 0 0;
          margin-top:-3%
      }

      .loginBody input[type=text], input[type=password] {
            background-color: #FFFFFF;
            width: 75%;
            border-radius: 100px;
      }

      .loginBody {
          margin: auto;
          display: contents;
      }

      .loginHeader h1 {
          font-size: 2em;
          padding: 4% 0 4.5% 0;
          color: #385FDC
      }

      .loginHeader p {
        font-size: 0.9em;
        padding-bottom: 2%
    }

        .loginBtn {
            margin: 10% 0 3% 0;
            border-radius: 100px;
            border: none
        }

        .socialLogin {
            border-left: none;
            margin-bottom: 5%;
            
        }

        .socialLogin button {
            width: 85%;
            padding:1.6%;
            border-radius: 100px;
            margin-bottom: -1%
        }

        .inputGroup ::placeholder {
            color: #8196d3;
            font-size: larger;
        }

        .horizLine {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:5%
        }

        .horizLine hr{
            border: 0.1rem solid #8196d3;
            margin: 5%;
            border-radius: 1000px;
            width:40%
        }

        .midtext {
            color: #8196d3;
            text-align: center;
        }

        .google {
            border:none
        }


    /* create an account */
        .create {
            background-color: #F1F5FF;
            border-radius: 100px 100px 0 0;
            margin-top: -5.9%;
            height: 100vmax
        }

        .createNextButton button {
            border: none;
            margin: 10% 0 3% 0;
            border-radius: 100px;
        }

        .verifyEmailButton button {
            border: none;
            margin: 10% 0 3% 0;
            border-radius: 100px;
        }

        .makeChange {
            padding:7% 5% 0 5%;
        }

        .createUserLabel {
            color: #385FDC;
            float: left;
            font-weight: 600;
            padding:0 0 3% 7%;
        }

    /* contact form */
    .contact{
        padding: 2rem 1rem;
        background-color: #F1F5FF;
        border-radius: 100px 100px 0 0;
    }

    .contactName{
        margin-top:10%;
        width:48%;
        border-radius: 100px;
    }

    .contactEmail {
        margin-top: 4%;
        width: 90%;
        border-radius: 100px;
    }

    .contactMsg {
        margin-top: 4%;
        background-color: #FFFFFF;
    }

    .sayHi {
        text-align: center;
    }

    #invalidInput{
        border: none;
        background-color: #FFFFFF;
    }

    .contactBtn {
        margin-top: 12%;
        border:none;
        border-radius: 100px;
        transform: translateX(94%);
    }

    .contactFooter {
        display: inline-block;
        position: relative;
        text-align: center;
        width:100%;
    }

    .contact div input {
        border-radius: 100px;
        background-color: #FFFFFF;
    }

    .termsAgreement {
        text-align: center;
        padding-top: 5%;
    }


}